Repository cfrg/draft-irtf-cfrg-vdaf, pull requests merged in 2024-07, with the labels that each got.

#368 Check vector lengths when adding/subtracting
  draft-irtf-cfrg-vdaf.md
  poc/common.py
Labels: editorial, draft-10

#370 Rename non-test files in tests directory
  poc/tests/idpf_util.py
  poc/tests/test_idpf_poplar.py
  poc/tests/test_vdaf_poplar1.py
  poc/tests/test_vdaf_prio3.py
  poc/tests/vdaf_util.py
Labels: poc, draft-10

#372 Set submission type to IRTF
  draft-irtf-cfrg-vdaf.md
Labels: draft-10

#369 Remove HTML comment about Prio+
  draft-irtf-cfrg-vdaf.md
Labels: draft-10

#371 Fix remaining line length warnings
  draft-irtf-cfrg-vdaf.md
  poc/xof.py
Labels: editorial, draft-10

#374 Poplar1: On first prep round, handle none as error
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poplar1.py
Labels: draft-10

#376 Prio3: Move field spec from FLP to VDAF
  draft-irtf-cfrg-vdaf.md
  poc/flp_bbcggi19.py
  poc/tests/test_flp_bbcggi19.py
  poc/tests/test_vdaf_prio3.py
  poc/vdaf_prio3.py
Labels: draft-10

#373 Use parentheses around notes to RFC editor
  draft-irtf-cfrg-vdaf.md
Labels: draft-10

#377 Update change log
  draft-irtf-cfrg-vdaf.md
Labels: draft-10

#378 Fix copy-pasta in Prio3 variant tables
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-11

#379 Sync up descriptions of DAFs and VDAFs
  draft-irtf-cfrg-vdaf.md
  poc/daf.py
  poc/tests/test_daf.py
Labels: draft-11

#383 Move some test utilities into the `vdaf_poc` package
  poc/tests/test_flp_bbcggi19.py
  poc/tests/test_vdaf_poplar1.py
  poc/tests/test_vdaf_prio3.py
  poc/tests/vdaf_util.py
  poc/vdaf_poc/flp_bbcggi19.py
  poc/vdaf_poc/vdaf.py
Labels: poc, draft-11
