Repository cfrg/draft-irtf-cfrg-vdaf, pull requests merged in 2024-09, with the labels that each got.

#410 poc: Don't capitalize after implementation notes
  poc/vdaf_poc/field.py
  poc/vdaf_poc/idpf_bbcggi21.py
  poc/vdaf_poc/xof.py
Labels: editorial, draft-12

#408 Bump `XofTurboShake128.SEED_SIZE` from 16 to 32 (*)
  draft-irtf-cfrg-vdaf.md
  poc/tests/test_daf.py
  poc/tests/test_idpf_bbcggi21.py
  poc/tests/test_xof.py
  poc/vdaf_poc/idpf_bbcggi21.py
  poc/vdaf_poc/xof.py
  test_vec/12/IdpfBBCGGI21_0.json
  test_vec/12/Poplar1_0.json
  test_vec/12/Poplar1_1.json
  test_vec/12/Poplar1_2.json
  test_vec/12/Poplar1_3.json
  test_vec/12/Prio3Count_0.json
  test_vec/12/Prio3Count_1.json
  test_vec/12/Prio3Histogram_0.json
  test_vec/12/Prio3Histogram_1.json
  test_vec/12/Prio3MultihotCountVec_0.json
  test_vec/12/Prio3SumVec_0.json
  test_vec/12/Prio3SumVec_1.json
  test_vec/12/Prio3Sum_0.json
  test_vec/12/Prio3Sum_1.json
  test_vec/12/XofTurboShake128.json
Labels: draft-12

#414 idpf: Clarify that the leaf XOF needs to support 16 byte seeds
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-12

#409 Prio3: Merge the measurement and proof share seed (*)
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/vdaf_prio3.py
  test_vec/12/Prio3Count_0.json
  test_vec/12/Prio3Count_1.json
  test_vec/12/Prio3Histogram_0.json
  test_vec/12/Prio3Histogram_1.json
  test_vec/12/Prio3MultihotCountVec_0.json
  test_vec/12/Prio3SumVec_0.json
  test_vec/12/Prio3SumVec_1.json
  test_vec/12/Prio3Sum_0.json
  test_vec/12/Prio3Sum_1.json
Labels: draft-12

#413 Some editorial suggestions from @armfazh
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-12

#420 IDPF: Simplify the public share encoding (*)
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/idpf_bbcggi21.py
  test_vec/12/IdpfBBCGGI21_0.json
  test_vec/12/Poplar1_0.json
  test_vec/12/Poplar1_1.json
  test_vec/12/Poplar1_2.json
  test_vec/12/Poplar1_3.json
Labels: wire change, draft-12

#417 Flesh out IANA considerations
  draft-irtf-cfrg-vdaf.md
Labels: wire change, draft-12

#419 IDPF: Simplify code, add constant-time notes
  draft-irtf-cfrg-vdaf.md
  poc/tests/test_field.py
  poc/vdaf_poc/field.py
  poc/vdaf_poc/idpf_bbcggi21.py
Labels: draft-12

#421 Add defenses-in-depth section
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-12

#425 Strengthen recommendation about field size
  draft-irtf-cfrg-vdaf.md
  poc/plot_prio3_multiproof_robustness.py
Labels: editorial, draft-12

#433 Change handling of IDPF indices
  draft-irtf-cfrg-vdaf.md
  poc/gen_test_vec.py
  poc/tests/test_idpf_bbcggi21.py
  poc/tests/test_vdaf_poplar1.py
  poc/vdaf_poc/idpf.py
  poc/vdaf_poc/idpf_bbcggi21.py
  poc/vdaf_poc/vdaf_poplar1.py
  test_vec/12/IdpfBBCGGI21_0.json
  test_vec/12/Poplar1_0.json
  test_vec/12/Poplar1_1.json
  test_vec/12/Poplar1_2.json
  test_vec/12/Poplar1_3.json
Labels: draft-12

#422 poc: Add application context string (*)
  poc/gen_test_vec.py
  poc/tests/test_daf.py
  poc/tests/test_vdaf_ping_pong.py
  poc/tests/test_xof.py
  poc/vdaf_poc/daf.py
  poc/vdaf_poc/test_utils.py
  poc/vdaf_poc/vdaf.py
  poc/vdaf_poc/vdaf_ping_pong.py
  poc/vdaf_poc/vdaf_poplar1.py
  poc/vdaf_poc/vdaf_prio3.py
  poc/vdaf_poc/xof.py
  test_vec/12/IdpfBBCGGI21_0.json
  test_vec/12/Poplar1_0.json
  test_vec/12/Poplar1_1.json
  test_vec/12/Poplar1_2.json
  test_vec/12/Poplar1_3.json
  test_vec/12/Prio3Count_0.json
  test_vec/12/Prio3Count_1.json
  test_vec/12/Prio3Histogram_0.json
  test_vec/12/Prio3Histogram_1.json
  test_vec/12/Prio3MultihotCountVec_0.json
  test_vec/12/Prio3SumVec_0.json
  test_vec/12/Prio3SumVec_1.json
  test_vec/12/Prio3Sum_0.json
  test_vec/12/Prio3Sum_1.json
  test_vec/12/XofFixedKeyAes128.json
  test_vec/12/XofTurboShake128.json
Labels: draft-12
