Repository cfrg/draft-irtf-cfrg-vdaf, pull requests merged in 2024-10, with the labels that each got.

#430 Point to test vectors rather than reproduce them
  draft-irtf-cfrg-vdaf.md
  poc/gen_test_vec.py
  poc/vdaf_poc/test_utils.py
  test_vec/IdpfBBCGGI21_0.json
  test_vec/XofFixedKeyAes128.json
  test_vec/XofTurboShake128.json
  test_vec/vdaf/Poplar1_0.json
  test_vec/vdaf/Poplar1_1.json
  test_vec/vdaf/Poplar1_2.json
  test_vec/vdaf/Poplar1_3.json
  test_vec/vdaf/Prio3Count_0.json
  test_vec/vdaf/Prio3Count_1.json
  test_vec/vdaf/Prio3Histogram_0.json
  test_vec/vdaf/Prio3Histogram_1.json
  test_vec/vdaf/Prio3MultihotCountVec_0.json
  test_vec/vdaf/Prio3SumVec_0.json
  test_vec/vdaf/Prio3SumVec_1.json
  test_vec/vdaf/Prio3Sum_0.json
  test_vec/vdaf/Prio3Sum_1.json
Labels: draft-12

#434 Add application context string
  draft-irtf-cfrg-vdaf.md
  poc/tests/test_daf.py
  poc/vdaf_poc/daf.py
  poc/vdaf_poc/vdaf_prio3.py
Labels: draft-12

#437 Histogram, MultihotCountVec: Move final reduction (*)
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/flp_bbcggi19.py
  test_vec/vdaf/Prio3Histogram_0.json
  test_vec/vdaf/Prio3Histogram_1.json
  test_vec/vdaf/Prio3MultihotCountVec_0.json
Labels: wire change, draft-12

#415 Update Change Log for draft 12
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-12

#429 Improve FLP specification
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/flp_bbcggi19.py
Labels: draft-13

#444 Fix long lines
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/idpf_bbcggi21.py
Labels: draft-13

#446 Move acknowledgments to last appendix
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#443 Add definitions of type hint identifiers
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#450 Fix long line
  .github/workflows/lint.yml
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/flp_bbcggi19.py
Labels: draft-13

#447 Remove RFC EDITOR note about DAP draft
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#456 Pass through errors in addition to warnings
  .github/workflows/lint.yml
Labels: draft-13

#457 Update GitHub Actions
  .github/workflows/archive.yml
  .github/workflows/ghpages.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/update.yml
Labels: draft-13

#449 Express ranges in mathematical notation
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/common.py
  poc/vdaf_poc/daf.py
  poc/vdaf_poc/flp_bbcggi19.py
  poc/vdaf_poc/idpf.py
  poc/vdaf_poc/vdaf.py
Labels: draft-13

#459 Add two more Poplar1 test vectors
  poc/gen_test_vec.py
  test_vec/vdaf/Poplar1_4.json
  test_vec/vdaf/Poplar1_5.json
Labels: draft-13

#445 Remove use of Sage, reimplement field and polynomial operations
  .github/workflows/test.yml
  .gitignore
  poc/.mypy.ini
  poc/README.md
  poc/gen_test_vec.py
  poc/plot_prio3_multiproof_robustness.py
  poc/tests/test_field.py
  poc/tests/test_flp_bbcggi19.py
  poc/vdaf_poc/field.py
Labels: draft-13

#458 Update template files
  .github/CODEOWNERS
  .github/workflows/archive.yml
  .github/workflows/ghpages.yml
  .github/workflows/publish.yml
  .github/workflows/update.yml
  .gitignore
  .note.xml
  CONTRIBUTING.md
  README.md
Labels: draft-13

#462 Remove captions from all code listings
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#463 Add additional test vectors for Prio3
  poc/gen_test_vec.py
  poc/vdaf_poc/flp_bbcggi19.py
  test_vec/vdaf/Prio3Count_2.json
  test_vec/vdaf/Prio3Histogram_2.json
  test_vec/vdaf/Prio3MultihotCountVec_1.json
  test_vec/vdaf/Prio3MultihotCountVec_2.json
  test_vec/vdaf/Prio3Sum_0.json
  test_vec/vdaf/Prio3Sum_1.json
  test_vec/vdaf/Prio3Sum_2.json
Labels: draft-13

#466 Drop references from section titles and harmonize capitalization
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#467 Finalize commit hash for test vector reference
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#452 Replace `aggregate()` with streaming API
  draft-irtf-cfrg-vdaf.md
  poc/tests/test_daf.py
  poc/tests/test_vdaf_ping_pong.py
  poc/vdaf_poc/daf.py
  poc/vdaf_poc/test_utils.py
  poc/vdaf_poc/vdaf.py
  poc/vdaf_poc/vdaf_poplar1.py
  poc/vdaf_poc/vdaf_prio3.py
Labels: draft-13

#468 Spot check IANA Considerations
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#451 Prio3: Improve circuit specifications
  draft-irtf-cfrg-vdaf.md
  poc/tests/test_flp_bbcggi19.py
  poc/vdaf_poc/field.py
  poc/vdaf_poc/flp_bbcggi19.py
Labels: draft-13

#470 Editorial tweaks
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#471 Fix duplicate words
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#473 Specify Python minor version
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#474 Tweak wording for robustness in abstract
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#475 Tweak the doc structure
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#476 Prio3, Poplar1: Set `xof` to `XofTurboShake128`
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/xof.py
Labels: editorial, draft-13

#485 Fix duplication of field in Prio3 variant params
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#478 Pass of intro, conventions, and overview
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#479 Pass of DAP/VDAF up to communication patterns
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#486 Pass of preliminaries
  draft-irtf-cfrg-vdaf.md
  poc/vdaf_poc/common.py
  poc/vdaf_poc/field.py
  poc/vdaf_poc/xof.py
Labels: editorial, draft-13

#489 Pass of Poplar1
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#491 Alphabetize the list of common functionalities
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#492 Explain Python array indexing and the `**` and `//` operators
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#493 Rename `Field.as_unsigned()` to `int()`
  draft-irtf-cfrg-vdaf.md
  poc/gen_test_vec.py
  poc/tests/test_daf.py
  poc/tests/test_field.py
  poc/tests/test_flp.py
  poc/tests/test_flp_bbcggi19.py
  poc/tests/test_idpf_bbcggi21.py
  poc/vdaf_poc/field.py
  poc/vdaf_poc/flp_bbcggi19.py
  poc/vdaf_poc/idpf_bbcggi21.py
  poc/vdaf_poc/test_utils.py
  poc/vdaf_poc/vdaf_poplar1.py
Labels: editorial, draft-13

#498 Pass of security, references, appendices, and acks
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#501 Take some of @armfazh's suggestions for common conventions
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#505 Add a common base class to Daf and Vdaf
  poc/vdaf_poc/daf.py
  poc/vdaf_poc/vdaf.py
Labels: draft-13

#502 Remove nonces from `run_daf()` and `run_vdaf()`
  draft-irtf-cfrg-vdaf.md
  poc/tests/test_daf.py
  poc/vdaf_poc/daf.py
  poc/vdaf_poc/test_utils.py
  poc/vdaf_poc/vdaf.py
Labels: editorial, draft-13

#507 Remove `Field2`
  draft-irtf-cfrg-vdaf.md
  poc/tests/test_field.py
  poc/vdaf_poc/field.py
  poc/vdaf_poc/idpf_bbcggi21.py
Labels: draft-13

#508 Clean up references
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#510 Security considerations: side-channel attacks
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#511 Fix typo in references
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#513 Poplar1: Move prefix order check to is_valid()
  draft-irtf-cfrg-vdaf.md
  poc/tests/test_vdaf_poplar1.py
  poc/vdaf_poc/vdaf_poplar1.py
Labels: draft-13

#514 Change measurement type of Prio3MultihotCountVec
  draft-irtf-cfrg-vdaf.md
  poc/gen_test_vec.py
  poc/tests/test_flp_bbcggi19.py
  poc/tests/test_vdaf_prio3.py
  poc/vdaf_poc/flp_bbcggi19.py
  poc/vdaf_poc/vdaf_prio3.py
  test_vec/vdaf/Prio3MultihotCountVec_0.json
  test_vec/vdaf/Prio3MultihotCountVec_1.json
  test_vec/vdaf/Prio3MultihotCountVec_2.json
Labels: draft-13

#515 Update test vectors commit hash
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#465 Update change log for draft 13
  draft-irtf-cfrg-vdaf.md
Labels: draft-13

#516 Fix up the VDAF preparation illustration
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#517 More updates to common functionalities
  draft-irtf-cfrg-vdaf.md
Labels: editorial, draft-13

#519 Define the method for evaluating a validity circuit
  draft-irtf-cfrg-vdaf.md
Labels: draft-13
